body {
    background-color: var(--second-background-color);

}

:root {
--heading-font-family: "Schoolbell", cursive;
--standard-text-font: "Klee One", cursive;
--second-heading-font: "Josefin Slab", serif;
--main-background-color: rgb(2, 66, 47);
--second-background-color: rgb(205, 221, 216);
}

a:visited {
    text-decoration: none;
}

button:visited {
    text-decoration: none;
}

/*Navbar*/

.nav-container { 

}

.navbar-brand {
    font-family: var(--heading-font-family);
    font-size: 25px;
    color: var(--main-background-color);
}

.navbar-nav {
    font-family: var(--standard-text-font);
    color: var(--main-background-color);
}

/*Homepage Css*/
.top-welcome {
    color: white;
    font-family: var(--second-heading-font);
    margin: 0;
    letter-spacing: 1px;
}

.hero-h1 {
    padding: 5px;
    color: white;
    font-family: var(--heading-font-family);    
    font-size: 54px;
}

hr {

    border: 1px solid white;
    border-radius: 10px;
    max-width: 600px;
    display: block;
    margin: 0 auto;

}

.hero-h4 {
    font-size: 14px;
    font-family: var(--standard-text-font);
    color: white;
    padding: 15px;
    text-align: center;
}

.main-classroom-img {
max-width: 400px;
padding: 5px;
border-radius: 20px;
}

.hero {
    background-color: var(--main-background-color);
    text-align: center;
    padding: 90px 40px;
}

.app-headings {
font-size: 48px;
padding: 5px;
font-family: var(--second-heading-font);
}

.app-content {
    font-size: 12px;
    font-family: var(--standard-text-font);
    padding: 10px;
    line-height: 1.75;

}

.app-button {
background-color: var(--main-background-color);
color: white;
border: none;
border-radius: 3px;
padding: 15px;
font-family: var(--standard-text-font);
box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.app-img {
    border-radius: 2px;
    margin: 60px 0px;
    width: 500px;
}

.user-description {
    padding: 70px 60px;
}

/*About-me page CSS*/

.hero-about {
    text-align: center;
    padding: 90px 40px;
}

.h3-about {
    background: var(--main-background-color);
    opacity: 90%;
    font-family: var(--second-heading-font);
    font-weight: 600;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 70px;
}

.about-container {
    margin: 50px;
}
 .about-sections {
    text-align: center;
 }

.about-img {
    max-width: 100%;
    border-radius: 10px;
    padding: 5px;
}

.about-heading {
    font-weight: 800;
    font-family: var(--standard-text-font);
    padding: 5px;
    font-size: 20px;
}

.about-description {
    padding: 5px;
    font-size: 14px;
}

button {
    background-color: var(--main-background-color);
        color: white;
        border: none;
        border-radius: 3px;
        padding: 15px;
        font-family: var(--standard-text-font);
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
        display: block;
        margin: 60px auto;
}

/*Work page CSS*/

.container {
    max-width: 95%;
}

h4 {
    font-family: var(--second-heading-font);
    font-size: 40px;
    text-align: left;
    padding: 30px;
    color: var(--main-background-color);
}

.app-display-container {
    background: var(--main-background-color);
    opacity: 80%;
    color: white;
    padding: 30px;
    margin: 30px 100px;
    
}

.work-app-img {
    border: white solid 10px;
}

.work-app-headings {
    font-size: 20px;
    font-weight: bold;
    font-family: var(--standard-text-font);
}

.work-app-content {
    font-family: var(--standard-text-font);
}

.work-page-button {
    background-color: var(--second-background-color);
        color: var(--main-background-color);
        border: none;
        border-radius: 3px;
        padding: 15px;
        font-family: var(--standard-text-font);
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
}
/*Media Queiries*/

@media (max-width: 1000px) {

    /*Homepage Css*/
    .app-headings {
        font-size: 80px;
    }

    .app-content {
        text-align: center;
        font-size: 30px;
        line-height: 1.25;
    }

    .app-button {
        font-size: 35px;
    }

    .user-description {
        text-align: center;
        padding: 50px 10px;
    }

    .top-welcome {
        font-size: 30px;
    }

    .hero-h1 {
        font-size: 80px;
    }

    .hero {
        padding: 50px 10px;
    }
    
        /*About-me page CSS*/
    .hero-h4 {
        font-size: 30px;
    }

    .hero-about {
        padding: 60px 15px;
     }

    .about-sections {
        display: flex;
        flex-direction: column;
    }

    .h3-about {
        font-size: 70px;
    }

    .col-md-3 {
        width: 100%;
        margin-bottom: 70px;
    }

    .about-heading {
        margin-top: 30px;
        font-size: 40px;
    }

    .about-description {
        font-size: 35px;
    }

        /*Work page CSS*/

    h4 {
        text-align: center;
        font-size: 70px;
    }

   .container {
       text-align: center;
   }

    .app-display-container {
    background: var(--main-background-color);
        opacity: 80%;
        color: white;
        padding: 30px;
        margin: 30px 40px;
    }

    .work-app-headings {
    font-size: 30px;
    font-weight: bold;
    font-family: var(--standard-text-font);
    }

    .work-app-content {
    font-size: 30px;
        }

    .work-app-description {
        width: 100%;
    }

    }
